.DS_Store
.DS_Store?
._*
Thumbs.db
dart-sdk
dartium

/tmp
/packages
/build

web/packages
web/**/packages
web/.DS_Store
lib/packages
lib/.DS_Store
test/packages
test/.DS_Store

**/*.dart.js
**/*.dart.js.deps
**/*.dart.js.map
**/*.dart.precompiled.js
