.DS_Store
.DS_Store?
._*
Thumbs.db

packages
lib/packages

tmp/
build/

web/packages
web/dancer.dart.js
web/dancer.dart.js.deps
web/dancer.dart.js.map
web/dancer.dart.precompiled.js
web/.DS_Store

test/packages
test/dancer.dart.js
test/dancer.dart.js.deps
test/dancer.dart.js.map
test/dancer.dart.precompiled.js
test/.DS_Store
